.App {
  max-width: 860px;
  margin: 40px auto;
}
button {
  background: none;
  border: 2px solid #fff;
  padding: 6px 12px;
  border-radius: 4px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  font-size: 1em;
}
button:hover {
  background: #c23844;
  color: #fff;
}
.App__heading {
  margin-bottom: 0.2em;
}
.App__header {
  font-size: 0.6em;
  margin-top: 0;
  margin-bottom: 2em;
}

/* Cards */
.card__grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}
